<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div 
          class="card " 
          style="width: 25rem;">
          <img [src]="product.image_link" class="card-img-top" alt="...">
          <div>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">PRICE: RS {{product.price}} </h6>
             
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>