
<nav class="navbar sticky-top navbar-light bg-white justify-content-center align-items-start">
    <button class="navbar-nav mr-auto btn btn-link " >
        <span><i class="fa fa-angle-left"> </i></span>
    </button>
   
    <span class="navbar-brand position-absolute text-center"><a class="text-primary  " href="#">
        <img src="../assets/e.png" width="50" height="30" alt="">Shoppify<img src="../assets/e.png" width="50" height="30" alt=""></a></span>
   
         
</nav>
    <!-- <nav class="navbar sticky-top navbar-light bg-white ">
       
        <div class="col-md-4 ">
            <button  class="btn btn-link text-center" ><i class="fa fa-angle-left"></i></button>
        </div>
        
        <div class="col-md-4  text-center">
            <a class="navbar-brand text-primary  " href="#">
                <img src="../assets/e.png" width="50" height="30" alt="">Shoppify<img src="../assets/e.png" width="50" height="30" alt=""></a>
        </div>
        <div class="col-md-4 "></div>
    
            </nav>
             -->


<router-outlet></router-outlet>

<nav class="navbar fixed-bottom navbar-light bg-white ">
       
    <div class="col-md-4"></div>
    
    <div class="col-md-4  col-xs-12 col-sm-12 text-center">
        <a class="navbar-brand text-primary  " href="#">
            <img src="../assets/e.png" width="50" height="30" alt="">Shoppify<img src="../assets/e.png" width="50" height="30" alt=""></a>
    </div>
    <div class="col-md-4"></div>

        </nav>

