<div class="container">
    <div class="row">
      <div class="col-md-4 p-2 " *ngFor="let product of products">
        <div 
          class="card " 
         >
          <img [src]="product.image_link" class="card-img-top" alt="...">
          <div>
            <div class="card-body">
              <h5 class="card-title">{{product.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">PRICE: RS {{product.price}} </h6>
              <button (click)="selectProduct(product.id)"type="button" class="btn btn-square btn-primary">Full View</button>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
